h1{
    color:rgb(30,255, 0)
}
 
.grid{
    display: flex;
     flex-wrap:wrap ;
     justify-content: space-evenly;
}
.header{
    background-color: rgb(255, 0, 0);
    display:flex;
    justify-content:space-between;
}
